/* ----------------
Google Font 
-----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* -----------------
Utilities
----------------- */
body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1321px;
}

/* ---------------
hero section
------------------ */
.hero {
  background-color: #161616;
  border-radius: 30px;
  height: 646px;
  display: flex;
}
.hero-dicription {
  width: 50%;
  color: white;
  padding: 50px;
}
.hero-dicription h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
.hero-dicription p {
  font-size: 16px;
  margin-bottom: 40px;
}
.hero-dicription a {
  background-color: #dd0000;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
}
.hero-image {
  width: 50%;
  padding: 50px 50px 0 50px;
}
.hero-image img {
  height: 100%;
}
/* -----------------------------
 menu and blog section  
 -------------------------------*/
.menu-cards {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.side-menu {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  height: 240px;
}

.side-menu a {
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  color: #161616;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 15px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.card {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  width: 312px;
}
.card-info {
  padding: 10px;
}
.card-info a {
  border: 1px solid #161616;
  border-radius: 5px;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 16px;
  color: #161616;
}
.card-info h3 {
  font-size: 18px;
  font-weight: 600;
}
/* -----------
footer  
--------------*/
footer {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0 0;
}
.footer {
  text-align: center;
  margin: 60px 0;
}
.footer-logo h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
}
hr {
  opacity: 10%;
  margin: 40px 0;
}
.footer-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.footer-menu li a {
  text-decoration: none;
  color: #b9b9b9;
}
.footer-icon ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.footer-icon ul li {
  display: inline;
  font-size: 30px;
  margin: 5px;
}
.footer-icon li a {
  text-decoration: none;
  color: #ffffff;
}
